python-daemon
google-cloud-storage
google-auth
rethinkdb

rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
