python-daemon
google-cloud-storage
google-auth
rethinkdb

rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
